<div class="container" *ngIf="tasks && tasks.length > 0" cdkDropListGroup>
  <div
    *ngFor="let card of tasks; let i = index"
    class="example-list category-section"
    cdkDropList
    [cdkDropListData]="card.tasks"
    (cdkDropListDropped)="drop($event, card.tasks[0].categoryId)"
  >
    <div class="category-header">
      <img
        src="{{ categoryHeaderImages[card.tasks[0].categoryId - 2] }}"
        alt=""
      />
      <p>{{ card.tasks[0].name }}</p>
    </div>
    <div *ngFor="let task of card.tasks" cdkDrag>
      <app-task
        [task]="task"
        (taskDeleted)="onTaskDeleted(task)"
        (deletMode)="ChangeDeleteMode($event)"
        (InToDoComponent)="(true)"
      ></app-task>
    </div>
    <div class="empty-task card" *ngIf="card.tasks.length == 0"></div>
  </div>
</div>

<div *ngIf="tasks.length == 0" class="no-task-exist">
  <h1>There Is No Tasks</h1>
  <a routerLink="/addTask" class="add-task-page-link">ADD TASK</a>
</div>

<div class="delete-popup" *ngIf="deleteMode">
  <h1>are you sure</h1>
  <div class="buttons">
    <button class="submit" (click)="deleteTask()">submit</button>
    <button class="cancel" (click)="deleteMode = false">cancel</button>
  </div>
</div>
<div class="delete-overlay" *ngIf="deleteMode"></div>
