

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #707070;
  min-height: 100vh;
}

.category-section{
  min-height: 600px;
  padding: 20px;
  margin-block: 20px;
}

.category-header{
  width: 420px;
  padding: 15px 20px;
  background-color: #212529;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: var(--fs-5);
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list{
  margin-top: 80px;
  min-width: 460px;

}
.example-list .cdk-drag {
  transition: transform 0.5s; /* Add a transition to the transform property */
}


.delete-popup{
  background-color: #2b3136;
  width: 500px;
  height: 300px;
  border-radius:10px ;
  border: 2px solid var(--meduim-purple);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 50px;
  position: fixed;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: 999;
}


.buttons{
  display: flex;
  align-items: center;
  gap: 30px;
}


.buttons button{
  padding: 10px 18px;
  border-radius: 6px;
  color: white;
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

.submit{
  background-color: red;
}

.cancel{
  background-color: var(--light-purple-color);
}

.delete-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--light-purple-color);
  opacity: 0.7;
  z-index: 99;
}


.empty-task{
  padding: 20px;
  width: 420px;
  height: 340px;
  background-color: #212529;
  border-radius: 6px;
  margin-bottom: 20px;
}
