.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  min-height: calc(100vh - 50px);
  background: var(--gradiant-background);

}

h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  color: var(--dark-blue-color);
  padding-block: 10px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: var(--fs-4);
  color: white;
}

.text span {
  color:  var(--dark-blue-color);
  font-weight: var(--fw-600);
}

.permission {
  color: white;
  text-align: center;
}

.login-page-link{
  padding: 10px 20px;
  background-color: var(--dark-blue-color);
  color: white !important;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: var(--fw-600);

}

@media screen and (max-width: 500px) {
  h1 {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }

  .text {
    font-size: var(--fs-5);

  }

  .permission {
    color: #999;
    font-size: var(--fs-8);
  }

}

@media screen and (max-width: 300px) {
  h1 {
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
  }

  .text {
    font-size: var(--fs-7);

  }

  .permission {
    color: #999;
    font-size: var(--fs-8);
  }

}
