<div class="container">
  <div class="logo">
    <a routerLink="/">
      <img src="../../../assets/Logo.png" alt="" />
    </a>
  </div>
  <ul>
    <li class="search">
      <input
        type="text"
        placeholder="what are you looking for?"
        class="search-input"
        [(ngModel)]="title"
        (input)="emitFilteredTitle()"
      />
      <img src="../../../assets/Search.svg" alt="" class="search-icon" />
    </li>
    <li class="add-icons">
      <button (click)="gotoaddTask()">
        <img src="../../../assets/Add.svg" alt="" class="plus" />
        <img src="../../../assets/Circle.svg" alt="" class="circle" />
      </button>
    </li>
    <li class="user" CloseOutside (clickOutside)="clickedOutside()">
      <button (click)="displayList()">
        <img src="../../../assets/Bitmap.png" alt="" />
      </button>
      <div class="menue" *ngIf="display">
        <div class="user-image">
          <img src="../../../assets/Bitmap.png" alt="" />
        </div>
        <div class="user-info">
          <div class="mail">{{ email }}</div>
          <div class="log-out">
            <img src="../../../assets/" alt="" />
            <button (click)="LogOut()">LogOut</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="info" *ngIf="dipslayInfo">
  <div class="text">
    <p>
      <i> "Any thing that can go wrong, will go wrong" </i>
    </p>
    <button (click)="hideInfo()">
      <img src="../../../assets/close.png" alt="" />
    </button>
  </div>
</div>
<button class="info-icon" *ngIf="!dipslayInfo" (click)="showInfo()">
  <img src="../../../assets/info.png" alt="" />
</button>
