.card{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 350px;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title{
  font-weight: var(--fw-600);
}

.card-info{
  display: grid;
  gap: 10px;
  grid-template-columns: 15ch auto;
}

.card-info span{
  color: var(--main-color);
  font-weight: var(--fw-600);
}
.card-info p{
  color: #555;
}

.importance p{
  padding: 9px 7px;
  /* background-color: red; */
  color: white;
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  width: fit-content;
  border-radius: 4px;
  position: relative;
  bottom: 6px;


}


.low-importance {
  background-color: #39ac95;
}

.medium-importance {
  background-color: #fe913e;
}

.high-importance {
  background-color: #dc3545;
}

.task-action-card{
  padding: 10px 15px;
  border-radius: 4px;
  font-size: var(--fs-8);
  color: white;
  font-weight: var(--fw-600);
}

.delete{
  background-color: #94000f ;
}

.update{
  background-color: var(--main-color);
}
.update-buttons{
  display: flex;
  gap: 20px;
}
