<div class="card">
  <div class="title">
    <p *ngIf="!updatemode">
      {{ task.title }}
    </p>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="task!.title"
      required
      #title="ngModel"
      *ngIf="updatemode && InToDoComponent"
    />
  </div>

  <div class="category card-info">
    <span class="card-def">Category</span>
    <p *ngIf="!updatemode">{{ task.status }}</p>
    <input
      type="text"
      id="status"
      name="status"
      [(ngModel)]="task!.status"
      required
      #status="ngModel"
      *ngIf="updatemode && InToDoComponent"
    />
  </div>
  <div class="due-date card-info">
    <span class="card-def">due date</span>
    <p *ngIf="!updatemode">{{ task.dueDate | date }}</p>
    <input
      type="date"
      id="dueDate"
      name="dueDate"
      [(ngModel)]="task!.dueDate"
      required
      #dueDate="ngModel"
      *ngIf="updatemode && InToDoComponent"
    />
  </div>
  <div class="estimate card-info">
    <span class="card-def">estimate</span>
    <p>{{ task.estimateDate | date }}</p>
  </div>
  <div class="importance card-info">
    <span class="card-def">Improtance</span>
    <p
      *ngIf="task.importance && !updatemode"
      [ngClass]="{
        'low-importance': task.importance.toLowerCase() === 'low',
        'high-importance': task.importance.toLowerCase() === 'high',
        'medium-importance': task.importance.toLowerCase() === 'medium',
      }"
    >
      {{ task.importance }}
    </p>
    <select
      id="importance"
      name="importance"
      [(ngModel)]="task.importance"
      required
      #importance="ngModel"
      *ngIf="updatemode && InToDoComponent"
    >
      <option value="" disabled>Select a importance</option>
      <option value="High">High</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
    </select>
  </div>
  <div style="display: flex; gap: 20px">
    <button
      (click)="deleteTask(task)"
      class="task-action-card delete"
      *ngIf="InToDoComponent"
    >
      delete
    </button>
    <div class="update-buttons">
      <button
        (click)="changeUpdateMode(task)"
        class="task-action-card update"
        *ngIf="!updatemode && InToDoComponent"
      >
        update
      </button>
      <!-- <button
        (click)="UpdateTask(task)"
        *ngIf="!updatemode && InToDoComponent"
        class="task-action-card update"
      >
        Submit
      </button> -->
    </div>
  </div>
</div>
