.form-container {
  width: 400px;
  margin-inline: auto;
  margin-block: 20px;
  /* transform: translate(-50%, -50%); */
  padding: 15px;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
}

.form-container h1 {
  color: var(--main-color);
  padding-block: 30px;
  font-weight: var(--fw-700);
}

.form-group {
  position: relative;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

.form-group input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  outline: 0px;
  padding-left: 6px;
}

.form-group.text label {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  columns: #999;
  transition: 0.3s;
  margin-top: 5px;
}

.form-group input:focus~label,
.form-group input:valid~label,
.form-group .ng-touched~label {
  top: -15px;
  transition: 0.3s;
  font-size: 12px;

}

.form-group .ng-touched {
  border-bottom: 1px solid red;
}

.form-group .ng-valid {
  border-bottom: 1px solid #eee;

}

.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.buttons button {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  color: white;
  font-size: var(fs-7);
  font-weight: var(--fw-700);
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 0;
}

.buttons .submit[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.buttons button:nth-child(2) {
  position: relative;
  top: -3px;
}

.error {
  color: red;
  padding: 0;
  margin: 0;

}

.error p {
  font-size: var(--fs-8);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-group textarea {
  width: 400px;
  height: 100px;
  resize: none;
  border: var(--input-border);
  outline: 0;
  padding: 5px;
}

.textarea label {
  position: relative;
  z-index: 999;
  columns: #999;
  margin-bottom: 15px;
  display: block;
  font-size: var(--fs-7);
}

.form-group textarea::placeholder {
  color: #999;
}


.info-link span {
  position: absolute;
  color: white;
  background-color: var(--main-color);
  font-size: var(--fs-8);
  border-radius: 4px;
  padding: 7px;
  top: -40px;
  left: 50%;
  transition: 0.3s;
  transform: translateX(-50%);
  width: max-content;
}

.info-link span::before {
  content: '';
  position: absolute;
  border-color: var(--main-color) transparent transparent transparent;
  border-width: 3px;
  border-style: solid;
  top: 100%;
  left: 50%;
  transition: 0.3s;
  transform: translateX(-50%);
  z-index: 999;

}

.special-heading {
  font-size: var(--fs-4);
  width: fit-content;
  margin: 50px auto 20px;
  padding-bottom: 30px;
  font-weight: var(--fw-600);

}

.special-heading span {
  color: var(--main-color);
  width: fit-content;
  display: inline;
}

@media screen and (max-width: 576px) {
  .form-container {
    width: 90%;
  }

  .buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-start;
  }

  .buttons button {
    font-size: var(--fs-8);
    padding: 10px 15px;
  }

  .container {
    padding-inline: 10px;
  }
}


@media screen and (max-width: 450px) {
  .special-heading {
    font-size: var(--fs-5);

  }
  .form-container {
    width: 100%;
  }

  .form-container {
    box-shadow: none;
    padding: 0;
  }

  .form-container h1 {
    font-size: var(--fs-5);
  }
}
