<!-- <div class="container">
  <div class="special-heading">I CAN <span>DO IT</span></div>
  <div class="form-container">
    <h1>Authentication Form</h1>
    <div class="loading-spinner" *ngIf="isloading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="error" *ngIf="error">
      {{ error }}
    </div>
    <div class="form" *ngIf="!isloading">
      <form #authForm="ngForm" (ngSubmit)="submitForm(authForm)">
        <div class="form-group text">
          <input
            type="email"
            id="email"
            name="email"
            ngModel
            required
            email
            pattern="[^ @]*@[^ @]*"
            (click)="removeError()"
            #email="ngModel"
          />
          <label for="email">Email</label>
        </div>
        <div class="error" *ngIf="email.errors && email.touched">
          <p *ngIf="email.errors['required']">Email is required</p>
          <p *ngIf="email.errors['pattern']">
            Email must contain at least the @ character
          </p>
        </div>

        <div class="form-group text">
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            required
            minlength="6"
            #password="ngModel"
          />
          <label for="password">Password</label>
        </div>

        <div class="error" *ngIf="password.errors && password.touched">
          <p *ngIf="password.errors['required']">Password is required</p>
          <p *ngIf="password.errors['minlength']">
            Password must be at least 6 characters long
          </p>
        </div>

        <div class="buttons">
          <button
            type="submit"
            class="submit"
            [disabled]="!authForm.valid"
            style="margin-bottom: 10px"
          >
            logIn
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<div class="login-page">
  <div class="welcome-images">
    <div class="logo">
      <img src="../../../assets/Logo.png" alt="" />
    </div>
    <div class="man-woman-image">
      <img src="../../../assets/Woman.png" alt="" />
      <img src="../../../assets/Man.png" alt="" />
    </div>
  </div>
  <div class="sign-In">
    <div class="login-header">Time To Work!</div>
    <div class="form-container" *ngIf="!isloading">
      <form #authForm="ngForm" (ngSubmit)="submitForm(authForm)">
        <div class="form-group text">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="email"
            ngModel
            required
            email
            pattern="[^ @]*@[^ @]*"
            (click)="removeError()"
            #email="ngModel"
          />
          <div class="error" *ngIf="email.errors && email.touched">
            <p *ngIf="email.errors['required']">Email is required</p>
            <p *ngIf="email.errors['pattern']">
              Email must contain at least the @ character
            </p>
          </div>
        </div>

        <div class="form-group text">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="error" *ngIf="password.errors && password.touched">
            <p *ngIf="password.errors['required']">Password is required</p>
            <p *ngIf="password.errors['minlength']">
              Password must be at least 6 characters long
            </p>
          </div>
        </div>

        <!-- <div class="sign-in-button-container"> -->
        <button
          type="submit"
          class="sign-in-button"
          [disabled]="!authForm.valid"
        >
          SIGN IN
        </button>
        <!-- </div> -->
      </form>
    </div>
  </div>
</div>

<!-- <div class="loading-spinner" *ngIf="isloading">
      <app-loading-spinner></app-loading-spinner>
    </div> -->
<!-- <div class="error" *ngIf="error">
      {{ error }}
    </div> -->
