.login-page{
  display: flex;
  gap:0;
}

.welcome-images{
  width: 45%;
  height: 100vh;
  background-color: var(--dark-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.logo{
  display: flex;
  justify-content: center;
}

.man-woman-image{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


.sign-In{
  width: 55%;
  background: var(--gradiant-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-In .login-header{
  font-size: 6rem;
  color: var(--text-white-color);
  padding-bottom: 30px;
}



.form-container .form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.form-container .form-group input{
  width: 564px;
  height: 38px;
  background-color: var(--input-background);
  padding: 5px;
  border-radius: 5px;
  outline: 0;
  color: white;
  font-size: var(--fs-6);
}
.form-container .form-group label{
  color: var(--text-white-color);
  text-transform: capitalize;
  font-size: var(--fs-6);
}

.error {
  color: red;
  padding: 0;
  margin: 0;

}

.error p {
  font-size: var(--fs-6);
  display: flex;
  align-items: center;
  gap: 5px;
}

.sign-in-button{
  width: 564px;
  height: 38px;
  background-color: var(--light-purple-color);
  margin-top: 30px;
  border-radius: 20px;
  color: #403564;
  font-size: var(--fs-6);
  font-weight: var(--fw-600);

}

.sign-in-button[disabled]{
  cursor: no-drop;
}

@media (max-width:1500px) {
  .welcome-images .logo img{
    width: 400px;

  }
  .man-woman-image img{
    width: 400px;
  }
}
@media (max-width:1300px) {
  .welcome-images .logo img{
    width: 400px;

  }
  .man-woman-image img{
    width: 300px;
  }
}
@media (max-width:1100px) {
  .welcome-images .logo img{
    width: 300px;

  }
  .man-woman-image img{
    width: 200px;
  }
  .form-container .form-group input{
    width: 400px;
  }
  .sign-in-button{
    width: 400px;
  }
}
@media (max-width:900px) {
  .welcome-images .logo img{
    width: 250px;

  }
  .man-woman-image img{
    width: 150px;
  }

}

@media (max-width:750px) {
  .welcome-images{
    display: none;
  }
  .form-container .form-group{
    width: 500px;
  }
  .form-container .form-group input{
    width: 80%;
  }
  .sign-in-button{
    width: 80%;
  }
  .sign-In{
    width: 100%;
  }
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


}


@media (max-width:500px){
  .form-container .form-group{
    width: 350px;
  }
  .login-header {
    font-size: var(--fs-4) !important;
  }
}

@media (max-width:370px){
  .form-container .form-group{
    width: 300px;
  }
}
@media (max-width:300px){
  .form-container .form-group{
    width: 280px;
  }
}
