.login-page{
  display: flex;
  gap:0;
}

.welcome-images{
  width: 45%;
  height: 100vh;
  background-color: var(--dark-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.logo{
  display: flex;
  justify-content: center;
}

.man-woman-image{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


.sign-In{
  width: 55%;
  background: var(--gradiant-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-In .login-header{
  font-size: 6rem;
  color: var(--text-white-color);
  padding-bottom: 30px;
}



.form-container .form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.form-container .form-group input{
  width: 564px;
  height: 38px;
  background-color: var(--input-background);
  padding: 5px;
  border-radius: 5px;
  outline: 0;
  color: white;
  font-size: var(--fs-6);
}
.form-container .form-group label{
  color: var(--text-white-color);
  text-transform: capitalize;
  font-size: var(--fs-6);
}

.error {
  color: red;
  padding: 0;
  margin: 0;

}

.error p {
  font-size: var(--fs-6);
  display: flex;
  align-items: center;
  gap: 5px;
}

.sign-in-button{
  width: 564px;
  height: 38px;
  background-color: var(--light-purple-color);
  margin-top: 30px;
  border-radius: 20px;
  color: #403564;
  font-size: var(--fs-6);
  font-weight: var(--fw-600);

}

.sign-in-button[disabled]{
  cursor: no-drop;
}
