<div class="container">
  <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
    <div class="form-group">
      <label for="category">Status</label>
      <select
        id="category"
        name="category"
        [(ngModel)]="task.categoryId"
        required
        #category="ngModel"
      >
        <option value="" disabled>Select a category</option>
        <option
          *ngFor="let category of categories"
          value="{{ category.categoryId }}"
        >
          {{ category.name }}
        </option>
      </select>
      <div *ngIf="category.invalid && (category.dirty || category.touched)">
        <div *ngIf="category.hasError('required')" class="error-message">
          Category is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="importance">importance</label>
      <select
        id="importance"
        name="importance"
        [(ngModel)]="task.importance"
        required
        #importance="ngModel"
      >
        <option value="" disabled>Select a importance</option>
        <option value="High">High</option>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
      </select>
      <div
        *ngIf="importance.invalid && (importance.dirty || importance.touched)"
      >
        <div *ngIf="importance.hasError('required')" class="error-message">
          importance is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="dueDate">Due Date</label>
      <input
        type="date"
        id="dueDate"
        name="dueDate"
        [(ngModel)]="task!.dueDate"
        required
        #dueDate="ngModel"
      />
      <div *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)">
        <div *ngIf="dueDate.hasError('required')" class="error-message">
          Due Date is required.
        </div>
      </div>
    </div>

    <div class="form-group" class="estimateDate">
      <div class="estimate-half">
        <label for="estimateDatenumber">Estimate Date (Number)</label>
        <input
          type="number"
          id="estimateDatenumber"
          name="estimateDatenumber"
          [(ngModel)]="task.estimateDatenumber"
          #estimateDatenumber="ngModel"
          min="1"
        />
        <div
          *ngIf="
            estimateDatenumber.invalid &&
            (estimateDatenumber.dirty || estimateDatenumber.touched)
          "
        >
          <div *ngIf="estimateDatenumber.hasError('min')">
            Please enter a positive number.
          </div>
        </div>
      </div>
      <div class="estimate-half">
        <label for="estimateDateunit">Estimate Date (Unit)</label>
        <input
          type="text"
          id="estimateDateunit"
          name="estimateDateunit"
          [(ngModel)]="task.estimateDateUnit"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="task!.title"
        required
        #title="ngModel"
      />
      <div *ngIf="title.invalid && (title.dirty || title.touched)">
        <div *ngIf="title.hasError('required')" class="error-message">
          Title is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">Category</label>
      <input
        type="text"
        id="status"
        name="status"
        [(ngModel)]="task!.status"
        required
        #status="ngModel"
      />
    </div>

    <button type="submit" [disabled]="!taskForm.valid">Submit</button>
  </form>
  <div class="card" style="width: 420px">
    <app-task [InToDoComponent]="false" [task]="task"></app-task>
  </div>
</div>
