.container{
  background: var(--gradiant-background);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form {
  min-width: 600px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  font-size: var(--fs-6);
  letter-spacing: 1px;
}

.card{
  width: 420px;
}
select, input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--input-background);
  border: 2px solid var(--purple-color);
  outline: 0;
  color: white;
  font-size: var(--fs-6);
}

option{
  padding-block: 10px;
}

.error-message {
  color: #ff4646;
  font-size: 14px;
  margin-top: 5px;
}

button {
  background-color: var(--meduim-purple );
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: var(--light-purple-color);
  cursor: not-allowed;
}

button:hover {
  background-color: var(--meduim-purple );
}

.estimateDate{
  display: flex;
  gap :20px;
  align-items: center;
}

.estimate-half{
  flex: 1;
  margin-bottom: 10px;
}


@media (max-width: 1060px) {
  form {
    min-width: 350px;
    padding: 20px;
  }
  label{
    font-size: var(--fs-8);
  }
}
@media (max-width: 940px) {
  .card{
    width: 350px;
  }
}

@media (max-width: 850px) {

  .container{
    flex-direction: column-reverse;
    height: 100%;
  }
  .card{
    width: 450px;
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .card{
    width: 310px;

  }
  .estimateDate{
    display: flex;
    flex-direction: column;
  }
  .estimate-half{
    width: 100%;
  }
}
