@import '~font-awesome/css/font-awesome.css';
:root {
  --ff-syne: 'Syne', sans-serif;

  --fs-1: 4.8rem;
  --fs-2: 4.5rem;
  --fs-3: 4rem;
  --fs-4: 3rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-600: 600;
  --fw-700: 700;

  /* Colors */
  --purple-color : #403564;
  --light-purple-color : #B6A3C2;
  --input-background : #222222;
  --text-white-color : #FFFFFF;
  --dark-blue-color : #2D2B52;
  --dark-background : #212121;
  --meduim-purple : #8556A4;
  --gradiant-background : linear-gradient(180deg, rgba(133,86,164,1) 0%, rgba(45,43,82,1) 100%);



  /* Transition */


  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  --cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);




  /* shaddow */

  --shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* border */



}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

image,
a,
data,
button{
  display: block;
}

a {
  color: #222 !important;
  text-decoration: none;
}

image {
  height: auto;
}

button {
  background: none;
  border: 0;
  font: inherit;
  cursor: pointer;
  outline: 0;
}

.container {
  padding: 40px 50px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 25px 35px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 50px 20px;
  }
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #707070;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-family: 'Lato', sans-serif;
  position: static !important;
  overflow: auto !important;
  margin: 0;
}

h1 {
  margin: 0 !important;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8556A4;
  border-radius: 0px;
}
